name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.0.0

    - name: Set up Go
      uses: actions/setup-go@v4.1.0
      with:
        go-version: 1.21.1

    - name: Build runexe-amd64
      run: GOOS=windows GOARCH=amd64 go build -o runexe.exe -a -ldflags "-X main.version=${GITHUB_SHA} -X main.buildid=${GITHUB_RUN_NUMBER}" ./runexe

    - name: Build runner-amd64
      run: GOOS=windows GOARCH=amd64 go build -o runner.exe -a -ldflags "-X main.version=${GITHUB_SHA} -X main.buildid=${GITHUB_RUN_NUMBER}" ./runner

    - name: Upload runexe
      uses: actions/upload-artifact@v3.1.3
      with:
        # Artifact name
        name: runexe.exe
        # A file, directory or wildcard pattern that describes what to upload
        path: runexe.exe
        # The desired behavior if no files are found using the provided path.
        if-no-files-found: error

    - name: Upload runner
      uses: actions/upload-artifact@v3
      with:
        # Artifact name
        name: runner.exe
        # A file, directory or wildcard pattern that describes what to upload
        path: runner.exe
        # The desired behavior if no files are found using the provided path.
        if-no-files-found: error
